<nav class="navbar">
	<div class="navbar-logo">
		<a href="/">
			<span class="logo-text">Fattpad</span>
		</a>
	</div>
	<ul class="navbar-links">
		<li><a href="/">Home</a></li>
		<li><a href="#explore">Explore</a></li>
		<li><a href="editor.html">Write</a></li>
		<li><a href="#library">Library</a></li>
	</ul>
	<div class="navbar-actions">
		<button class="navbar-btn" onclick="window.location.href='login.html'">Log In</button>
		<button class="profile-btn" style="display: none;">
			<img alt="Profile" class="profile-img">
		</button>
	</div>

    <!-- Import Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</nav>